@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300&family=Exo:wght@300&family=Josefin+Slab:wght@300&family=Monoton&display=swap');
/* 
font-family: 'Bellota', cursive;
font-family: 'Exo', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Monoton', cursive;
*/

body{
    font-family: 'Josefin Slab', serif;
    /* background-color: rgba(9, 84, 128, 0.808); */
}
/* upper header */
.top-level{
    /* color: rgb(155, 149, 149); */
    background-image: linear-gradient(40deg, rgb(173, 163, 238), rgba(0, 183, 255, 0.719));
}
.top-level a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
/* upper header */

/* Header Starts */
header{
    background-image: linear-gradient(60deg, rgba(140, 124, 245, 0.733), rgba(23, 177, 238, 0.719));
}
.navbar{
    font-size: 20px;
    font-family: 'Bellota', cursive;
}
/* Header Starts */

/* Part-1 */
.carousel-item img{
    opacity: 80%;
    width: 100%;
    height: 611px;
}
/* Part-1 */